@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

:root {
  --primary: 262 83% 58%; /* #8B5CF6 */
  --primary-foreground: 0 0% 100%;
}

.dark {
  --primary: 262 91% 51%; /* #7C3AED */
  --primary-foreground: 0 0% 100%;
}
